VITE_API_URL=http://localhost:3007/api
VITE_STRIPE_PRO_MONTHLY_PRICE_ID=price_xxx
VITE_STRIPE_PRO_ANNUAL_PRICE_ID=price_xxx
VITE_STRIPE_TEAM_MONTHLY_PRICE_ID=price_xxx
VITE_STRIPE_TEAM_ANNUAL_PRICE_ID=price_xxx
VITE_GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
